body{
	font-family: monospace;
	font-size: 10px;
	padding: 3px 3px;
	margin-left: 200px;
}
.reeg{
	border: 2px solid blck;
	background-color: #c0c0c0;
	font-size: 12px;
	border-radius: 6px;
	padding: 2px 2px;
	width: 600px;
	margin-top: 3px;

}
.head{
	
	background-color:  #808080;
	width: 600px;
	height: 20px;
	border-radius: 5px;
}
th{
	background-color: #808080;
	border-radius: 8px;
}
input,textarea,select,option{
	border-radius: 5px;
}
label
{
	color:red;
}