body
{
	background-image: url(img1.pg);
	background-size: 1400px 700px;
	color: blue;
}
.log
{
	width: 320px;
	height: 420px;
	background-color: red;
	background:rgba(0,0,0,0.5);
	color: white;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-25%);
	box-sizing: border-box;
	border:white;
	padding: 50px 30px;
	text-align: left;
	margin-top: 230px;
	}
	.imge
	{
		width: 100px;
		height: 100px;
		border-radius: 50px;
		position: absolute;
		top: -50px;
		left: calc(50% - 50px);
		border:solid black;
	}
	.herr
	{
		margin-top: 50px;
		height: 50px;
		
	}
	.header{
      background-color: blue;
      color: white;
      height: 250px;
      font-family: cursive;

	}
	.header h1{
		position: relative;
		color: yellow;
		margin-left: 300px;
		top: 50px;
	}
	.bti
	{
		background-color: black;
    float:right;
    height: 30px;
    list-style: none;
    margin-top:-50px;  
	}
	.bti li
	{
		display: inline-block;
	}
	.bti li a
	{
		color: white;
		text-decoration: none;
		padding: 0px 10px;
		font-family: "Roboto",sans-serif;
		font-size: 25px;
	}
	.bti li a:hover
	{
		border:1px solid white;
	}
.logo
{
	width: 300px;
	height: 100px;
	border-radius: 30px;
}
a
{
color: white;
}
.ph
{
	color: red;
}













